<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Our Dirt Machines</h1>

    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://can-am.brp.com/content/dam/canam-offroad/Global/MY2017/Images/Lineup/Commander/Commander/2017-Commander-Base-800R-Viper-Red_3-4-front.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">Available in a 71-hp Rotax 800R liquid-cooled V-Twin engine with four valves per cylinder and single overhead camshafts featuring twin fuel injectors that optimize fuel delivery into the combustion chamber for powerful, yet precise performance.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>

    <!-- below here is where the duplications are -->
    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://can-am.brp.com/content/dam/canam-offroad/Global/MY2017/Images/Lineup/Commander/Commander/2017-Commander-Base-800R-Viper-Red_3-4-front.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">Available in a 71-hp Rotax 800R liquid-cooled V-Twin engine with four valves per cylinder and single overhead camshafts featuring twin fuel injectors that optimize fuel delivery into the combustion chamber for powerful, yet precise performance.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>
    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://can-am.brp.com/content/dam/canam-offroad/Global/MY2017/Images/Lineup/Commander/Commander/2017-Commander-Base-800R-Viper-Red_3-4-front.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">Available in a 71-hp Rotax 800R liquid-cooled V-Twin engine with four valves per cylinder and single overhead camshafts featuring twin fuel injectors that optimize fuel delivery into the combustion chamber for powerful, yet precise performance.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>
    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://can-am.brp.com/content/dam/canam-offroad/Global/MY2017/Images/Lineup/Commander/Commander/2017-Commander-Base-800R-Viper-Red_3-4-front.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">Available in a 71-hp Rotax 800R liquid-cooled V-Twin engine with four valves per cylinder and single overhead camshafts featuring twin fuel injectors that optimize fuel delivery into the combustion chamber for powerful, yet precise performance.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>
    <!-- above here is where the duplications are -->

  </section>

  <footer></footer>
</div>
