<div class="landingWrapper">
  <header></header>

  <section class="landingPage">
    <div class="Jumbotron">
      <!-- <img class="jumboImg" src="../img/landJumbo.jpeg" alt="JumboImage"> -->
      <div class="mySlides">
        <h1 class="jumboTxt">We Can Put Anything Here!!</h1>
        <img class="jumboImg" src="../RentalCompany/img/landJumbo.jpeg"/>
      </div>
      <div class="mySlides">
        <h1 class="jumboTxt">What ever you want... really!!</h1>
        <img class="jumboImg" src="../RentalCompany/img/dirtjombo.jpeg"/>
      </div>
      <div class="mySlides">
        <h1 class="jumboTxt">No seriously we can</h1>
        <img class="jumboImg" src="../RentalCompany/img/snow2.jpeg"/>
      </div>
      <div class="mySlides">
        <h1 class="jumboTxt">I hope you believe me now!!</h1>
        <img class="jumboImg" src="../RentalCompany/img/dirt2.jpeg"/>
      </div>
    </div>
    <div class="contentHolder">
      <div class="botBoxes dirt">
        <div class="botTxtHolder">
          <p class="rentMe" ui-sref="dirt">Rent Me!</p>
        </div>
        <div class="botTxtHolder">
          <p>Have the Off Road Vacation You've Always Wanted!</p>
        </div>
      </div>
      <div class="botBoxes snow">
        <div class="botTxtHolder">
          <p>Have Your Next Trip In The Snow!</p>
        </div>
        <div class="botTxtHolder">
          <p class="rentMe" ui-sref="snow">Rent Me!</p>
        </div>
      </div>
    </div>
  </section>

  <footer></footer>
</div>
