<div class="landingWrapper">
  <header></header>

  <section class="landingPage">
    <div class="Jumbotron">
      <!-- <img class="jumboImg" src="../img/landJumbo.jpeg" alt="JumboImage"> -->
      <img class="mySlides jumboImg" src="../img/landJumbo.jpeg" style="width:100%">
      <img class="mySlides jumboImg" src="../img/dirtjombo.jpeg" style="width:100%">
      <img class="mySlides jumboImg" src="../img/snow2.jpeg" style="width:100%">
      <img class="mySlides jumboImg" src="../img/dirt2.jpeg" style="width:100%">

    </div>
    <div class="contentHolder">
      <div class="botBoxes dirt">
        <div class="botTxtHolder">
          <p class="rentMe" ui-sref="dirt">Rent Me!</p>
        </div>
        <div class="botTxtHolder">
          <p>Have the Off Road Vacation You've Always Wanted!</p>
        </div>
      </div>
      <div class="botBoxes snow">
        <div class="botTxtHolder">
          <p>Have Your Next Trip In The Snow!</p>
        </div>
        <div class="botTxtHolder">
          <p class="rentMe" ui-sref="snow">Rent Me!</p>
        </div>
      </div>
    </div>
  </section>

  <footer></footer>
</div>
