<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Our Dirt Machines</h1>

    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://www.ski-doo.com/content/dam/ski-doo/Global/MY2017/Images/Lineup/Summit/Summit-Sport/SUMMIT_SPORT_600C_BK-BK_2017.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">The tMotion flexes laterally, reducing the effort to initiate a roll, due to a ball joint at the center hinge between the rear arm and drop link and split flat-tube front arms. Very progressive motion ratio makes the ride on trails even more comfortable.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">TMOTION REAR SUSPENSION</li>
          <li class="">FLEXEDGE TRACK</li>
          <li class="">PILOT DS 2 SKIS</li>
          <li class="">ROTAX 600 CARB ENGINE</li>
          <li class="">REV-XM RUNNING BOARDS</li>
        </ul>
      </div>
    </div>
    <!-- under here is where i'm dulpicating -->

    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://www.ski-doo.com/content/dam/ski-doo/Global/MY2017/Images/Lineup/Summit/Summit-Sport/SUMMIT_SPORT_600C_BK-BK_2017.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">The tMotion flexes laterally, reducing the effort to initiate a roll, due to a ball joint at the center hinge between the rear arm and drop link and split flat-tube front arms. Very progressive motion ratio makes the ride on trails even more comfortable.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">TMOTION REAR SUSPENSION</li>
          <li class="">FLEXEDGE TRACK</li>
          <li class="">PILOT DS 2 SKIS</li>
          <li class="">ROTAX 600 CARB ENGINE</li>
          <li class="">REV-XM RUNNING BOARDS</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://www.ski-doo.com/content/dam/ski-doo/Global/MY2017/Images/Lineup/Summit/Summit-Sport/SUMMIT_SPORT_600C_BK-BK_2017.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">The tMotion flexes laterally, reducing the effort to initiate a roll, due to a ball joint at the center hinge between the rear arm and drop link and split flat-tube front arms. Very progressive motion ratio makes the ride on trails even more comfortable.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">TMOTION REAR SUSPENSION</li>
          <li class="">FLEXEDGE TRACK</li>
          <li class="">PILOT DS 2 SKIS</li>
          <li class="">ROTAX 600 CARB ENGINE</li>
          <li class="">REV-XM RUNNING BOARDS</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <img class="machineImg" src="http://www.ski-doo.com/content/dam/ski-doo/Global/MY2017/Images/Lineup/Summit/Summit-Sport/SUMMIT_SPORT_600C_BK-BK_2017.png/jcr:content/renditions/cq5dam.web.480.480.png" alt="snowmobile image">
        <h1 class="dailyPrice greenTitles">{{m1Price}} Daily Rate</h1>
      </div>
      <div class="rightSide">
        <h1 class="machineName greenTitles">Summit Sport</h1>
        <div class="paragraphContainer">
          <p class="infoArea">The tMotion flexes laterally, reducing the effort to initiate a roll, due to a ball joint at the center hinge between the rear arm and drop link and split flat-tube front arms. Very progressive motion ratio makes the ride on trails even more comfortable.</p>
        </div>
        <h2 class="subTitle greenTitles">Key Features</h2>
        <ul class="festuresList">
          <li class="">TMOTION REAR SUSPENSION</li>
          <li class="">FLEXEDGE TRACK</li>
          <li class="">PILOT DS 2 SKIS</li>
          <li class="">ROTAX 600 CARB ENGINE</li>
          <li class="">REV-XM RUNNING BOARDS</li>
        </ul>
      </div>
    </div>
    <!-- above here is where the duplications are -->

  </section>

  <footer></footer>
</div>
