.headerDirective{
  height: 100px;
  width: 100%;
  background: #252729;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  height: 100px;
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoImgHolder{
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}
.logoTxt{
  font-size: 25px;
  color: white;
  margin: 0 10px 0 35px;
  text-align: center;
}
.logoH1{
  margin: 5px 0px;
  font-weight: bold;
}
.green{
  color: #46F350;
}
.logoImg{
  height: 45px;
  width: 45px;
  border-radius: 20px;
}
.headerNav{
  margin-left: 30px;
  height: 100px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}
.topNav{
}
.middleNav{
  position: relative;
  height: 50px;
  background: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.angle {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #252729;
  border-bottom: 50px solid transparent;
  align-self: flex-start;
}
.headerLi{
  font-size: 20px;
  color: #52585e;
  margin: 0 30px;
  font-weight: bold;
}
.headerLi:hover{
  color: #46F350;
  font-size: 22px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}
.bottomNav{
}
.navNav{
  height: 25px;
  background: #252729;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
}
