body{
  background: black;
  font-family: "TradeGothicLTStd","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.landingWrapper{
  max-width: 1322px;
  min-width: 820px;
  margin: auto;
}
.landingPage{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Jumbotron{
  position: relative;
  height: calc(100% - 258px);
  height: 571px;
  /*background-size: cover;
  background-position: center;*/
  /*background-image: url("../img/landJumbo.jpeg");*/
}
.jumboTxt{
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
  top: 40px;


}
.jumboImg{
  width: 100%;
  height: 655px;
  -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
  margin-bottom: -2px;
}
.contentHolder{
  background: #252729;
  display: flex;
  flex-direction: row;
}
.botBoxes{
  height: 258px;
  width: 50%;
  min-width: 410px;
  background-size: cover;
  background-position: center;
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
  -moz-filter: brightness(.5);
  -o-filter: brightness(.5);
  -ms-filter: brightness(.5);
  display: flex;
  flex-direction: row;
}
.botBoxes:hover{
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
}
.botTxtHolder{
  width: 50%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  /*width: 350px;*/
}
.dirt{
  text-align: right;
  background-image: url("../img/dirt.jpeg");
}
.snow{
  background-image: url("../img/snow.jpeg");
}
.rentMe{
  cursor: pointer;
  text-align: center;
  color: #46F350;
}
.footerposition{
}
